<!-- wp:template-part {"slug":"header-has-nav-centered" ,"tagName":"header"} /-->

<!-- wp:group {"className":"main-front-page","tagName":"main","layout":{"inherit":"true"}} -->
<main class="wp-block-group main-front-page">
    <!-- wp:pattern {"slug":"bizboost/header-media-no-image"} /-->
    <!-- wp:pattern {"slug":"bizboost/video-featured"} /-->
    <!-- wp:pattern {"slug":"bizboost/hero-content"} /-->
    <!-- wp:pattern {"slug":"bizboost/stats"} /-->
    <!-- wp:pattern {"slug":"bizboost/featured-content"} /-->
    <!-- wp:pattern {"slug":"bizboost/promotional-contact"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-with-three-columns","tagName":"footer"} /-->
